@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

button {
  padding: 10px 30px;
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  border-radius: 0.2em;
  max-width: 10em;
}
button:hover {
  filter: opacity(50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
}

/* nav start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3em 0em;
}

li {
  display: inline;
  list-style: none;
}
li a {
  text-decoration: none;
  color: #fff;
  margin-left: 2em;
  padding: 0em 0.2em 0.45em 0.2em;
  font-size: 1.2em;
}
a:hover {
  /* text-decoration: underline; */
  border-bottom: 0.1em solid var(--main-color);
}

/* nav end */

/* header start */
.header {
  height: 100vh;
  background: url(6.jpg);
  background-position: center;
  background-size: cover;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.main-heading {
  position: absolute;
  top: 2.3em;
  font-size: 4em;
  word-spacing: 0.15em;
}
.primary-heading {
  position: absolute;
  bottom: 0.5em;
  font-size: 5em;
  letter-spacing: 3px;
  word-spacing: 0.15em;
}

.main-btn {
  position: absolute;
  bottom: 0rem;
  font-size: large;
}

/* header end */

/* story start */

#our-story {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.img {
  height: 500px;
  width: 500px;
  background: url(5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.section-content p {
  max-width: 500px;
  color: #fff;
  word-spacing: 0.3em;
  line-height: 1.5em;
  font-size: 1.2em;
}
.title-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  width: 30%;
  height: 0.2em;
  background-color: #deab5f;
  /* transform: translateX(-120px); */
}
.title {
  font-size: 4em;
  color: #fff;
  font-family: serif;
  /* transform: translateX(-100px); */
}

/* story end */

/* coffee container start */

.coffee-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coffee-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* padding-right: 3em; */
  /* border-right: 2px solid var(--main-color); */
}

.coffee-content h1 {
  font-family: serif;
  font-size: 4em;
  text-transform: capitalize;
  color: #fff;
  word-spacing: 0.2em;
}
.coffee-content p {
  max-width: 600px;
  color: #fff;
  text-align: start;
  word-spacing: 0.3em;
  line-height: 1.5em;
  font-size: 1.2em;
}
.img2 {
  height: 500px;
  width: 500px;
  background: url(2.png);
  background-position: center;
  background-size: cover;
}
/* coffee container end */

/* Product start  */
.products {
  margin-top: 5em;
}

.title-three {
  font-size: 4em;
  margin-left: 1.6em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 2.5em;
  margin-bottom: 4em;
}
.card {
  height: 550px;
  width: 400px;
  border: 2px solid var(--main-color);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5em;
  position: relative;
}
.card-image {
  height: 200px;
  width: 200px;
  position: absolute;
  top: -100px;
}
.card-title {
  color: #fff;
  font-family: sans-serif;
  margin-top: 3em;
  font-size: larger;
}

.card .items p {
  color: #fff;
  font-family: sans-serif;
  margin: 1.5em 0;
}

.img-one {
  background: url(4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-two {
  background: url(3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img-three {
  background: url(1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* product end */

/* footter start */

.containetr {
  padding: 1.3em;
  /* border: 2px solid red; */
  color: #fff;
}
.description {
  margin-top: 0.5em;
  word-spacing: 0.2em;
}

span {
  color: #deab5f;
}
.para {
  padding: 1em;
  color: #fff;
  text-align: center;
  word-spacing: 0.2em;
}
