@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

button {
  padding: 10px 30px;
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
}

/* nav start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.7em;
  padding-bottom: 1em;
}

li {
  display: inline;
  list-style: none;
}
li a {
  text-decoration: none;
  color: #fff;
  margin-left: 2em;
  padding: 0em 0.2em 0.45em 0.2em;
  font-size: 1.2em;
}
a:hover {
  /* text-decoration: underline; */
  border-bottom: 0.1em solid var(--main-color);
}

/* nav end */
